# ============================== 
# Object and executable files
# ============================== 
*.o
*.obj
*.exe

# ============================== 
# Java class files
# ============================== 
*.class

# ============================== 
# Pycache
# ============================== 
__pycache__/
